.card {
  height: 37.4rem;
  width: 86.6%;
  max-width: 35rem;
  background: #fff;
  z-index: 3;
  border-radius: 1rem;
  font-family: "Kumbh Sans";

  filter: drop-shadow(0px 12px 80px rgba(0, 0, 0, 0.25));
}

.card img {
  width: 100%;
  height: 14rem;
  border-radius: 1rem 1rem 0 0;
}

.circle {
  position: relative;
  /* left: 109px; */
  top: -57px;
  height: 10.6rem;
  width: 10.6rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.circle img {
  height: 9.6rem;
  width: 9.6rem;
  border-radius: 50%;
}

.info {
  width: 100%;
  height: 7.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -3.8rem;
}

.info .pessornalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.info .pessornalInfo .name {
  font-size: 1.8rem;
  /* margin-left: -0.2rem; */
}

.info .pessornalInfo .age {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1rem;
}
.info .local {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.9rem;
  margin-left: 0.3rem;
}

.allData {
  height: 9rem;
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.allData .data {
  text-transform: uppercase;
  text-align: center;
  margin-left: -1.2rem;
}

.allData p {
  color: #797a7d;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  margin-left: -1.2rem;
}

.allData .firstData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.allData .secondData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.allData .thirdData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
