.card {
  height: 37.4rem;
  width: 86.6%;
  background: #fff;
  z-index: 2;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  height: 14rem;
  border-radius: 1rem 1rem 0 0;
}

.circle {
  position: relative;
  left: 109px;
  top: -53px;
  height: 10.6rem;
  width: 10.6rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle img {
  height: 9.6rem;
  width: 9.6rem;
  border-radius: 50%;
}
