* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.conteiner {
  background: #19a1ad;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#top {
  position: fixed;
  width: 978px;
  height: 978px;
  left: -750px;
  top: -600px;
}
#bottom {
  position: fixed;
  width: 978px;
  height: 978px;
  left: 150px;
  top: 294px;
  z-index: 1;
}

@media (min-width: 768px) {
  #top {
    position: fixed;
    width: 67.9166vw;
    height: 135.833vh;
    left: -20vw;
    top: -69.444vh;
  }

  #bottom {
    position: fixed;
    width: 67.9166vw;
    height: 135.833vh;
    left: 48vw;
    top: 52vh;
    z-index: 1;
  }
}
